* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 5px;
}

body {
  margin: 0px;
  color: #121326;
}

.wholepage {
  display: block;

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.content {
  overflow: hidden;
}

.section-title {
  font-size: 64px;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
}

.text {
  font-size: 20px;
  margin: 0;
  padding: 10px 10px;
}

.content {
  margin: 0px 5px;
}
