* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 5px;
}

body {
  margin: 0px;
  color: var(--color-main-dark);
  font-size: 18px;
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
}

.wholepage {
  display: block;

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.content {
  overflow: hidden;
  margin: 0px 5px;
}

.article-title {
  font-size: 20px;
  margin: 0px;
  font-family: "Roboto", serif;
  font-weight: 700;
}

.section-title {
  font-size: 64px;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  font-family: "Roboto", serif;
  font-weight: 900;
}
