.link {
  font-size: 40px;
  padding: 5px;
  text-decoration: none;
  border-radius: 25px;
  color: var(--color-main-dark);

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    color: var(--color-main-light);
  }

  @media screen and (min-width: $bp-laptop) {
    font-size: 30px;
    color: var(--color-main-dark);
  }

  @media screen and (min-width: $bp-desktop) {
    font-size: 34px;
  }

  &:hover {
    color: var(--color-main-light);
    background-color: var(--color-main-dark);
    transition: 0.3s;
  }
}
