.experiance-section {
  &__slider {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  &__list {
    padding: 0px;
    margin: 0px;
  }
  &__positions {
    padding: 5px 5px;
    border: 2px solid black;
    border-radius: 25px;
  }
  &__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0px;
  }

  &__button.next {
    transform: rotate(180deg);
  }
}
