.hero-section {
  background: #121326;
  display: flex;
  justify-content: space-between;
  padding: 5px;

  &__burger {
    background-color: transparent;
    border: 0;
    fill: white;
  }

  &__my-photo {
    display: none;
  }

  &__name {
    padding: 0;
  }

  &__hero-text {
    margin: 0;
    font-size: 36px;
    color: white;
  }

  @media screen and (min-width: 426px) {
    &__burger {
      display: flex;
      gap: 10px;
      padding-left: 10px;
      align-items: center;
    }

    &__name {
      flex-grow: 1;
      padding: 15px 10px;
    }

    &__hero-text {
      text-align: left;
      font-size: 48px;
    }
  }

  @media screen and (min-width: 720px) {
    &__burger {
      display: none;
    }

    &__my-photo {
      display: block;
      max-width: 120px;
      max-height: 130px;
      border-radius: 50%;
      padding: 10px;
    }

    &__hero-text {
      font-size: 64px;
    }
  }
}
