.link {
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  color: #121326;
  border-radius: 25px;

  @media screen and (min-width: 1024px) {
    font-size: 28px;
  }

  &:hover {
    color: white;
    background-color: #121326;
    transition: 0.3s;
  }
}
