.navigation {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: block;

    &__stickynav {
      padding: 5px 10px;
      background-color: var(--color-main-dark);
    }

    &__aside-links {
      margin: 0;
      padding: 5px 0px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      gap: 5px;
      list-style-type: none;
    }
  }

  @media screen and (min-width: $bp-laptop) {
    width: 100%;
    max-width: 310px;
    border-right: 5px solid var(--color-main-dark);

    &__stickynav {
      display: flex;
      position: sticky;
      padding: 0;
      justify-content: center;
      background-color: var(--color-main-light);
      flex-direction: column;
      top: 0;
    }

    &__aside-links {
      display: block;
      padding: 16px 20px;
    }
  }
}
