.skills-section {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__skill {
    width: 95%;
    max-width: 360px;
    border: 2px solid #121326;
    border-radius: 25px;
    box-shadow: 5px 5px #121326;
  }

  &__list-type {
    margin: 0;
    padding: 10px 30px;
  }

  &__title {
    text-align: center;
    padding: 10px 0px;
  }
}
